@model CarCompare.ViewModels.CarDataVM

<div class="row table-bordered" style="margin:.1vw">

    <div class="col-md-6">

        <p>@Html.Raw(@Model.name)</p>
        <p>@Html.Raw(@Model.modelYear)</p>
        <p>@Html.Raw(@Model.co2)</p>

    </div>

</div>
