@model CarCompare.Models.CompareListModel

<head>
    <!--Link to stylesheet-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="field filter">

        @using (Html.BeginForm("FilterField", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.LabelFor(Model => Model.accelerationMax)
            <input type="text" name="accelerationMax" value="@Model.accelerationMax" />

            @Html.LabelFor(Model => Model.accelerationMin)
            <input type="text" name="accelerationMin" value="@Model.accelerationMin" />

            <button class="button" type="submit" name="button" value="1">FILTER</button>
        }



        <p class="showingXresults">
            Showing 50 of @Model.GetArray().Length results:
        </p>

        <div class="buttonsField">
            @using (Html.BeginForm("HandleFilterButton", "Home"))
            {
                <button class="button" type="submit" name="button" value="1">FILTER</button>
                <button class="button" type="submit" name="button" value="2">RESET</button>
            }
        </div>



    </div>

    <div class="field result">
        <!--Calls partial view so index does not get cluttered-->
        @Html.Partial("Partials/_CarDataPV", Model)
    </div>
</body>